html,body { 
    padding: 0; 
    margin: 0;
}

body { 
    background: url('frontpage.jpg') top no-repeat, url("bg.jpg") repeat-x, #000; 
    font: normal normal normal 12px/18px Verdana, Geneva, sans-serif;
    color: #a58e61;
}

a {
    color: #efcc7f;
    text-decoration: none;
}
a:hover {
    color: #fff;
}

h1 { margin: 0; padding: 0; display: none; }

#container {
    border-radius: 8px;
    background: rgba( 0,0,0,0.1);
    max-width: 400px;
    margin: 280px auto 0;
    padding: 8px;

}

#footer { text-align: center; color: #555; }