html,body { padding: 0; margin: 0; }
body { background: #000 url("bg.jpg") repeat-x; font: normal normal normal 12px/18px Verdana, Geneva, sans-serif; }
h1 { margin: 0; padding: 0; display: none; }

#container { background: transparent url('frontpage.jpg') no-repeat; width: 512px; height: 512px; margin: auto; position: relative; }

#container ul { margin: 0; padding: 0; list-style: none; position: absolute; top: 280px; left: 165px; }
#container li { position: absolute; width: 54px; height: 54px; }
#container a { width: 100%; height: 100%;  text-indent: -99999px; position: absolute; }

#footer { text-align: center; color: #555; }